head(prefix='og: http://ogp.me/ns# nodejsexpressdemo: http://ogp.me/ns/apps/nodejsexpressdemo#')
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width,initial-scale=1')

  title= 'Canvas Experiment'
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="keywords", content="Canvas demo with nodejs")
  meta(name="description", content="A demo app illustrating the usage of express framework, mongoose orm, mongodb and stylus in node.js. The also illustrates how to properly organize your application")

  link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
  link(rel='stylesheet', href='/css/app.css')